.container {
    /* border: 4px solid black; */
    /* margin-top: 20px; */
    /* background-color: aqua; */
  }
  /* .row {
    border: 2px solid red;
  } */

  /* ul li{
    display: inline-block!;
  } */

    
  .navbar, .container-fluid{
    background-color: #3B5D50;
    color: white;
  }
  .p{
    color: #8A9E97;
  }
  .orange {
    background-color: orange;
  }
  .pink {
    background-color: pink;
  }
  .yellow {
    background-color: yellow;
  }
  .green {
    background-color: green;
  }
  .skyblue{
    background-color: skyblue;
  }
  .blue{
    background-color: blue;
  }
