.navbar,
.hero {
  background-color: #3b5d50;
  color: white;
}
.navbar-brand {
  font-weight: 600;
  font-size: 32px;
}
.custom-nav {
  font-weight: 500;
}
h1 {
  font-weight: 700;
  font-size: 55px;
}
 .hero{
  box-sizing: border-box;
  height: 525px;
 }
.btn.btn-one {
  color: #2f2f2f;
  background: #f9bf29;
  border-color: #f9bf29;
  border-radius: 25px;
}
.btn-two {
  border: 2px solid white;
  border-radius: 25px;
}
.home-img{
  border-radius: 20px;
}


/* TEXT-COLOR  */
.text-white {
  color: white;
}
.text-black{
  color: black;
}






/* COLOR */
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.skyblue {
  background-color: skyblue;
}
.blue {
  background-color: blue;
}
.gray {
  background-color: gray;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
.black{
  background-color: black;
}